$quicksand: 'Quicksand', sans-serif;
$sans-pro: 'Source Sans Pro', sans-serif;

$whiteish-color: #fffefe;
$sky-color: #008ed6;
$veryblackish-color: #1a1a1a;
$gray-color: #999999;
$verygray-color: #444348;
$blackish-color: #1b1b1b;

